
<% if session['gh_access_token'] && session['db_user_name'] %>
  <form method='post' action='/projects'>
    <input type='text' name='name'>
    <button type='submit'>Create Repo</button>
  </form>
<% if @users %>
    <% @users.each do |u| %>
      <ul>
	<% u.projects.each do |p| %>
	  <li><a href='/projects/<%= p.id %>'><%= p.repo_name %></a></li>
	<% end %>
    <% end %>
<% end %>
<% end %>