<% if @dropbox %>
 Welcome, <%= @dropbox %>
 Connected Dropbox successfully.
<% else %>
  <a href='/auth/dropbox'>Login with Dropbox</a>
<% end %>

<% if @github %>
 Connected GitHub successfully.
<% else %>
  <a href='/auth/github'>Login with GitHub</a>
<% end %>

<% if @dropbox || @github %>
  <a href='/logout'>Logout</a>
<% end %>



<% if @users %>
  <ul>
    <% @users.each do |u| %>
      <li>
      <ul>
	<% u.projects.each do |p| %>
	  <li><%= p.inspect %></li>
	<% end %>
      </ul><%= u.inspect %></li>
    <% end %>
  </ul>
<% end %>

<% if @github && @dropbox %>
  <form method='post' action='/repos'>
    <input type='text' name='name'>
    <button type='submit'>Create Repo</button>
  </form>
<% end %>