<% if @client %>
 Welcome, <%= @client %>
  <a href='/logout'>Logout</a>
<% else %>
  <a href='/login'>Login with Dropbox</a>
<% end %>

<% if @users %>
  <ul>
    <% @users.each do |u| %>
      <li><%= u.inspect %></li>
    <% end %>
  </ul>
<% end %>