<% if @dropbox %>
 Welcome, <%= @dropbox %>
 Connected Dropbox successfully.
<% else %>
  <a href='/auth/dropbox'>Login with Dropbox</a>
<% end %>

<% if @github %>
 Connected GitHub successfully.
<% else %>
  <a href='/auth/github'>Login with GitHub</a>
<% end %>

<% if @dropbox || @github %>
  <a href='/logout'>Logout</a>
<% end %>




<% if @github && @dropbox %>
  <form method='post' action='/projects'>
    <input type='text' name='name'>
    <button type='submit'>Create Repo</button>
  </form>
<% if @users %>
    <% @users.each do |u| %>
      <ul>
	<% u.projects.each do |p| %>
	  <li><a href='/projects/<%= p.id %>'><%= p.repo_name %></a></li>
	<% end %>
    <% end %>
<% end %>
<% end %>